{% extends 'students/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Видалити Групу{% endblock meta_title %}

{% block title %}Видалити Групу{% endblock title %}
               

{% block content %}


    <div style="display: block;">
        <br/><br/><br/><br/>

        <form action="{% url "groups_delete" object.id %}" method="post" >
            {% csrf_token %}
            <p>Ви дійсно хочете видалити групу "{{ object }}"?</p>
            <br/>
            <input type="submit" value="&nbsp;&nbsp;Так&nbsp;&nbsp;" name="delete_button" class="btn btn-danger" />
            <button type="submit" name="cancel_button" value="Скасувати" class="btn btn-link">Скасувати</button>
            <!-- <input type="submit" value="No" name="cancel_button" class="btn btn-success" /> -->

            </form>
            <br/>
            <!-- <a href={% url 'groups' %}?status_message=Cкасовано! class="btn btn-success" >No&nbsp;</a> -->
            <br/>

    </div>
           


{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
        <div class="col-xs-12">
            <p>&copy; 2016 Сервіс Обліку Студентів. Видалення Групи.</p>
        </div>
    </div>
{% endblock footer %}
