{% extends 'students/base.html' %}
{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Журнал відвідування{% endblock title %}

{% block logo %}<h1>Сервіс Обліку Студентів</h1>{% endblock logo %}

{% block groups_selector %}
    <div class="col-xs-4" id='group-selector'>
        <strong>Група:</strong>
        <select>
            <option value=''>Усі студенти</option>
            <option value=''>МтМ - 21, Іванов Іван (№ 7657)</option>
            <option value=''>МтМ - 22, Гетьманчук Сергій (№ 2123)</option>
        </select>
    </div>
{% endblock groups_selector %}               

{% block content %}
                    <div class='center'>
                        <nav>
                            <ul class="pagination">
                                <li><a href="#">&larr;</a></li>
                                <li class="active"><a href="#">Січень 2016</a></li>
                                <li><a href="#">&rarr;</a></li>
                            </ul>
                        </nav>
                    </div>
                    <table class='table table-hover table-bordered'>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Студент</th>
                                <th>Пт 1</th>
                                <th>Сб 2</th>
                                <th>Нд 3</th>
                                <th>Пн 4</th>
                                <th>Вт 5</th>
                                <th>Ср 6</th>
                                <th>Чт 7</th>
                                <th>Пт 8</th>
                                <th>Сб 9</th>
                                <th>Нд 10</th>
                                <th>Пн 11</th>
                                <th>Вт 12</th>
                                <th>Ср 13</th>
                                <th>Чт 14</th>
                                <th>Пт 15</th>
                                <th>Сб 16</th>
                                <th>Нд 17</th>
                                <th>Пн 18</th>
                                <th>Вт 19</th>
                                <th>Ср 20</th>
                                <th>Чт 21</th>
                                <th>Пт 22</th>
                                <th>Сб 23</th>
                                <th>Нд 24</th>
                                <th>Пн 25</th>
                                <th>Вт 26</th>
                                <th>Ср 27</th>
                                <th>Чт 28</th>
                                <th>Пт 29</th>
                                <th>Сб 30</th>
                                <th>Нд 31</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a title='Редагувати' href='#'>Гетьманчук Сергій</a></td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>2</td>
                                <td><a title='Редагувати' href='#'>Іванов Петро</a></td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a title='Редагувати' href='#'>Притула Тарас</a></td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
        <div class="col-xs-12">
            <p>&copy; 2016 Сервіс Обліку Студентів. Журнал відвідування.</p>
        </div>
    </div>
{% endblock footer %}
