{% extends 'students/base.html' %}
{% load static from staticfiles %}

{% block meta_title %}Додавання Студента{% endblock meta_title %}

{% block title %}Додавання Студента{% endblock title %}

{% block logo %}<h1>Сервіс Обліку Студентів</h1>{% endblock logo %}
               
{% block groups_selector %}
    <div class="col-xs-4" id='group-selector'>
        <strong>Група:</strong>
        <select>
            <option value=''>Усі студенти</option>
            <option value=''>МтМ - 21, Іванов Іван (№ 7657)</option>
            <option value=''>МтМ - 22, Гетьманчук Сергій (№ 2123)</option>
        </select>
    </div>
{% endblock groups_selector %}

{% block status_message %}
    {% if errors %}
        <div class='alert alert-warning' role="alert">Будь-ласка, виправте наступні помилки</div>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="display: block;">
    <br/>
    <br/>
    <br/>
    <br/>
    <form action="{% url "students_add" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div>
            <label for="first_name">Ім'я*</label>
            <input type="text" value="{{ request.POST.first_name }}" name="first_name" id="first_name" placeholder="напр. Сергій"></input>
            <span class="help-block">{{ errors.first_name }}</span>
        </div>
        <div>
            <label for="middle_name">По-батькові</label>
            <input type="text" value="{{ request.POST.middle_name }}" name="middle_name" id="middle_name" placeholder="напр. Іванович"></input>
            <span class="help-block">{{ errors.middle_name }}</span>
        </div>
        <div>
            <label for="last_name">Прізвище*</label>
            <input type="text" value="{{ request.POST.last_name }}" name="last_name" id="last_name" placeholder="напр. Гетьманчук"></input>
            <span class="help-block">{{ errors.last_name }}</span>
        </div>
        <div>
            <label for="birthday">Дата народження*</label>
            <input type="date" value="{{ request.POST.birthday }}" name="birthday" id="birthday" placeholder="напр. 1970-10-25"></input>
            <span class="help-block">{{ errors.birthday }}</span>

        </div>
        <div>
            <label for="photo">Фото</label>
            <input type="file" value="{{ request.POST.photo }}" name="photo" id="photo"></input>
            <span class="help-block">{{ errors.photo }}</span>
        </div>
        <div>
            <label for="ticket">Білет*</label>
            <input type="text" value="{{ request.POST.ticket }}" name="ticket" id="ticket" placeholder="напр. 1970"></input>
            <span class="help-block">{{ errors.ticket }}</span>

        </div>
        <div>
            <label for="student_group">Група*</label>
            <select name="student_group" id="student_group">
                <option value="">Виберіть групу</option>
                {% for group in groups %}
                <option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %} selected="1"{% endif %}>{{ group.title }}</option>
                {% endfor %}
            </select>
            <span class="help-block">{{ errors.student_group }}</span>
        </div>
        <div>
            <label for="notes">Додаткові нотатки</label>
            <br/>
            <textarea type="text" name="notes" id="notes" cols="30" rows="1">{{ request.POST.notes }}</textarea>
            <span class="help-block">{{ errors.notes }}</span> 
        </div>
        <div>
            <input type="submit" value="Додати" name="add_button"></input>
            <button type="submit" name="cancel_button">Скасувати</button>
        </div>
    </form>
    </div>
{% endblock content %}

{% block footer %}
    <div class="row" id="footer">
        <div class="col-xs-12">
            <p>&copy; 2016 Сервіс Обліку Студентів. Додавання Студента.</p>
        </div>
    </div>
{% endblock footer %}
